 body{
margin: 0px auto;
padding: 0px ;
justify-items: center;
align-items: center;

 }
 .bos{
     display: flex;
 }
 
 .bos div{
   

width: 30px;
height: 30px;
margin: 12px  ;
background: #181818;
border-radius: 50%;
display: grid ;
animation: bola 2s ease infinite;

}

@keyframes bola{

0% {transform: translateY(0);}
50% {transform: translateY(-100PX);}
100% {transform: translateY(0);}
}
.bos div:nth-child(1){
    animation-delay: 0.4s;
}
.bos div:nth-child(2){
        animation-delay: 0.8s;
        
}
.bos div:nth-child(3){
    animation-delay: 0.16s;
}
.bos div:nth-child(4){
    animation-delay: 0.32s;
}
.bos div:nth-child(5){
    animation-delay: 0.64s;
}
.bos div:nth-child(6){
    animation-delay: 1.2s;
}
.bos div:nth-child(7){
    animation-delay: 2.4;
}
.bos div:nth-child(8){
    animation-delay: 4.8s;
}

